* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E112D;
}

#emoji-container {
  background-color: #FCFFF5;
  width: 80%;
  margin: 5vh auto 0 auto;
  border-radius: 10px;
  padding: 20px;
}

#emoji-char {
  text-align: center;
  font-size: 15vh;
  padding-bottom: 1vh;
}

#emoji-definition {
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vh;
  text-align: center;
}

#button-container {
  width: 80%;
  margin: 5vh auto 0 auto;
  padding: 20px;
}

#random-emoji-button {
  width: 100%;
  height: 20vh;
  padding: 20px;
  background-color: #820333;
  font-size: 4vh;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
  color: white;
}
#random-emoji-button:hover {
  background-color: #C9283E;
  color: white;
  border: 1px solid #820333;
} 

#history-title {
  padding: 30px 5px 5px 5px; 
  border-bottom: 0.5px solid #C9283E;
  text-align: center;
  color: #C9283E;
}

#history {
  padding: 10px 5px 5px 5px;
  color: #C9283E;
}
